.container {
  display: flex;
  width: 800px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.col-1 {
  flex: 0 0 15%;
  background-color: gray;
}

.col-2 {
  flex: 0 0 85%;
  background-color: cadetblue;
}

.col-half {
  flex: 0 0 50%;
}

.col-full {
  flex: 0 0 100%;
}


header,
footer {
  padding: 10px;
  background-color: whitesmoke;
  color: black;
  border-bottom: 5px solid #cea241;

}

header h1,
footer h1 {
  display: inline-block;
  font-size: 38px;
}

header nav,
footer nav {
  padding-top: 10px;
  margin-right: 20px;
  float: right;
  font-size: 20px;
}

header nav ul,
footer nav ul {
  list-style-type: none;
}

header nav ul li,
footer nav ul li {
  display: inline-block;
  margin-left: 25px;
}
